body {
  background-color: rgb(100,100,100);
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 21px; 
  }
  img-div {
  text-align: center;
  height: auto;
  max-width: 100%;

  }
  img{
  max-width: 100%;
  padding: 5px;
  border: 0px;
  display: block;
  height: auto;
  margin: 0 auto;
  position: auto;
  }
  
 ul {
    padding: 0;
  }
  li {
    text-align: left;
    max-width: 70%;
    margin: 16px auto;
    padding-left: 1em;
  }
